federalist-papers-relaxNG.rnc

start = federalist_papers
federalist_papers = element federalist_papers {paper+}
paper = element paper {title, (p | author | body)+}
title = element title {text}
p = element p {(taxation | executive | text)+}
author = element author {text}
body = element body {p+}
taxation = element taxation {type, text}
executive = element executive {type, text}
type = attribute type {text}
